.Wrapper {
  max-width: 1144px;
  width: 100%;
  margin: auto;
  margin-top: 50px;

  border: 1px solid red;

  // .ButtonWrapper {
  //   display: flex;
  //   gap: 10px;
  //   .Button {
  //   }
  //   .ProfileEditButton {
  //   }
  // }
}
