.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; // 수직 가운데 정렬
  align-items: center; // 수평 가운데 정렬
  height: 100%; // 화면 전체 높이
  width: 100%; // 화면 전체 너비
}

.onBoardingWrapper {
  display: flex;
  align-items: flex-start;
  gap: 45px;
  margin-bottom: 108px;

  .onBoardingText {
    width: 526px;
    padding: 32px 36px;
    border-radius: 16px;
    border: 3px solid;
    position: relative;

    h1 {
      font-size: 40px;
      line-height: 140%; /* 56px */
      letter-spacing: -0.8px;
      font-family: var(--font-Ownglyph-PDH), sans-serif;
    }

    .Tooltip {
      position: absolute;
      right: -19px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .onBoardingImage {
    width: 230px;
  }
}

.LoginBoxWrapper {
  font-family: var(--font-Ownglyph-PDH), sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;

  .LoginBox {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #000;
    padding: 12px 30px 12px 24px;
    background: #f5f5f5;

    cursor: pointer;
  }

  .LoginButtonWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 65px;
  }
}
