.Layout {
  display: flex;
  height: calc(100vh - 40px);
}

.MainContent {
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: 220px;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 220px);
}

// 반응형 스타일
@media (max-width: 1264px) {
  .mainContent {
    margin-left: 72px;
    width: calc(100% - 72px);
  }
}

// 모바일 스타일
@media (max-width: 767px) {
  .mainContent {
    margin-left: 0;
    margin-bottom: 60px;
    padding: 16px;
    width: 100%;
  }
}
